<ul class="messages"></ul>
<form class="chatBox" action="">
  <input type="text" class="userFullName" value="{{user_fullName}}" hidden />
  <input class="messageInput" autocomplete="off" /><button class="chatSubmit">Send</button>
</form>
