<form class="login" action="/login" method="post">
  <input class="textInput" type="text" name="username" placeholder = "Username">
  <input class="textInput" type="password" name="password" placeholder = "Password">
  <input type="submit" name="loginSubmit" value="Submit">
</form>
