<form class="register" action="/register" method="post">
  <input class="textInput" type="text" name="fullName" placeholder = "Full Name">
  <input class="textInput" type="text" name="username" placeholder = "Username">
  <input class="textInput" type="password" name="password" placeholder = "Password">
  <input class="textInput" type="password" name="admin" placeholder = "Admin Code">
  <input type="submit" name="RegisterSubmit" value="Submit">
</form>
